.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}
.modal{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    border-radius: 1rem;
}
.login{
    width: 95%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    background-color: #457B9D;
    color: #F1FAEE;
    border-radius: 1rem;
    font-weight: large;
}
.login input{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.btn{
    width: auto;
    height: auto;
    padding: 0.5rem;
    background-color: #A8DADC;
    border-radius: 1rem;
}
.btn:hover{
    background-color: #1D3557;
    color: white;
    cursor: pointer;
}
.loginSpan:hover
{
    color: #1D3557;
    cursor: pointer;
}
.registerSpan:hover
{
    color: #1D3557;
    cursor: pointer;
}