.form{
    width: 75%;
    margin-top: 2rem;
    height: auto;
    display: flex;
    background-color: #F1FAEE;
    border-radius: 0 1rem 1rem 0;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.formbox{
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    background-color: #1D3557;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
}